# Rust build artifacts
target/

# Git
.git/
.github/
.gitignore

# Docs
README.md
doc/

# Output directories
config/
output/

# Docker files
Dockerfile
compose.yaml
.dockerignore

# Editor artifacts
.idea/
.vscode/
*.iml

# OS artifacts
.DS_Store
Thumbs.db

# Misc
*.log
